<div class="trm-contacts-creator">
  <form [formGroup]="formGroup" (ngSubmit)="save(formGroup.value)" novalidate>
    <md-card>
      <md-card-title-group>
        <img md-card-md-image alt="Placeholder image" src="/assets/images/placeholder.png">
        <md-card-title></md-card-title>
        <md-card-subtitle></md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        <div fxLayout="column">
          <md-input-container fxFlex [dividerColor]="formGroup.get('name').errors ? 'warn' : 'primary'">
            <input md-input placeholder="Name" formControlName="name">
            <md-hint align="end" *ngIf="!formGroup.get('name').valid && !formGroup.get('name').pristine">
              <p *ngIf="formGroup.get('name').errors.minlength">
                The name field requires a minimum length of {{formGroup.get('name').errors.minlength.requiredLength}} characters but was {{formGroup.get('name').errors.minlength.actualLength}}.
              </p>
              <p *ngIf="formGroup.get('name').errors.required">
                The name field is a required field.
              </p>
            </md-hint>
          </md-input-container>
          <md-input-container fxFlex [dividerColor]="formGroup.get('email').errors ? 'warn' : 'primary'">
            <input md-input placeholder="Email" formControlName="email">
            <md-hint align="end" *ngIf="!formGroup.get('email').valid && !formGroup.get('email').pristine">
              <p *ngIf="!formGroup.get('email').errors?.validEmail && !formGroup.get('email').errors?.emailTaken">
                Please enter a valid email adress.
              </p>
              <p *ngIf="formGroup.get('email').errors?.emailTaken">
                This email address has been taken.
              </p>
            </md-hint>
          </md-input-container>
          <md-input-container fxFlex>
            <input md-input placeholder="Birthday" type="date" formControlName="birthday">
          </md-input-container>
          <md-input-container fxFlex>
            <input md-input placeholder="Phone" formControlName="phone">
          </md-input-container>
          <md-input-container fxFlex>
            <input md-input placeholder="Website" formControlName="website">
          </md-input-container>
          <fieldset fxLayout="column">
            <legend>Address</legend>
            <div formGroupName="address">
              <md-input-container fxFlex>
                <input md-input placeholder="Street" formControlName="street">
              </md-input-container>
              <md-input-container fxFlex>
                <input md-input placeholder="Zip" formControlName="zip">
              </md-input-container>
              <md-input-container fxFlex>
                <input md-input placeholder="City" formControlName="city">
              </md-input-container>
            </div>
          </fieldset>
        </div>
      </md-card-content>
      <md-card-actions fxLayout fxLayoutAlign="center center">
        <button md-button type="submit" [disabled]="!formGroup.valid">Save</button>
        <a md-button title="Cancel creating new contact" [routerLink]="'/'">Cancel</a>
      </md-card-actions>
    </md-card>
  </form>
</div>
