<div class="trm-contacts-editor">
  <form #form="ngForm" (ngSubmit)="save(contact)" novalidate>
    <md-card>
      <md-card-title-group class="fullBleed editing">
        <img md-card-md-image [src]="contact.image || ''">
        <md-card-title>{{contact.name}}</md-card-title>
        <md-card-subtitle>{{contact.email}}</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        <trm-tabs>
          <trm-tab title="General" fxLayout="column">
            <md-input-container fxFlex [dividerColor]="name.errors ? 'warn' : 'primary'">
              <input md-input placeholder="Name" name="name" [(ngModel)]="contact.name" #name="ngModel" required minlength="3">
              <md-hint align="end" *ngIf="!name.valid && !name.pristine">
                <p *ngIf="name.errors.required">
                  The name field is a required field.
                </p>
                <p *ngIf="name.errors.minlength">
                  The name field requires a minimum length of {{name.errors.minlength.requiredLength}} characters but was {{name.errors.minlength.actualLength}}.
                </p>
              </md-hint>
            </md-input-container>
            <md-input-container fxFlex>
              <input md-input placeholder="Email" name="email" [(ngModel)]="contact.email">
            </md-input-container>
            <md-input-container fxFlex>
              <input md-input placeholder="Phone" name="phone" [(ngModel)]="contact.phone">
            </md-input-container>
            <md-input-container fxFlex>
              <input md-input placeholder="Website" name="website" [(ngModel)]="contact.website">
            </md-input-container>
            <md-input-container fxFlex>
              <input md-input placeholder="Birthday" name="birthday" type="date" [(ngModel)]="contact.birthday">
            </md-input-container>
          </trm-tab>

          <trm-tab title="Address" fxLayout="column">
            <fieldset fxLayout="column">
              <legend>Address</legend>
              <md-input-container fxFlex>
                <input md-input placeholder="Street" name="street" [(ngModel)]="contact.address.street">
              </md-input-container>
              <md-input-container fxFlex>
                <input md-input placeholder="Zip" name="zip" [(ngModel)]="contact.address.zip">
              </md-input-container>
              <md-input-container fxFlex>
                <input md-input placeholder="City" name="city" [(ngModel)]="contact.address.city">
              </md-input-container>
            </fieldset>
          </trm-tab>
        </trm-tabs>
      </md-card-content>
      <md-card-actions fxLayout fxLayoutAlign="center center">
        <button md-button type="submit" title="Save contact">Save</button>
        <button md-button (click)="cancel(contact)" title="Cancel editing">Cancel</button>
      </md-card-actions>
    </md-card>
  </form>
</div>
